/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
}
body{
    font-size: 1.6rem;
}

/* js */
body { 
    opacity: 0;
    transition: opacity .7s;
 }

/*  */
.container{
    border: 1px solid black;
    max-width: 1320px;
    margin: 0px auto;
    background-color: #eeeeee;
}
.cv-carousel{
    /* border: 1px solid green; */
    margin: 0px 2rem;
}
.content-top{
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-between;
    margin-top: 2.5rem;
    position: relative;
    /* border: 1px solid hotpink; */
}
.content-top__left{
    /* border: 1px solid blue; */
    display: flex;
    margin-left: 7rem;
}
.spe-character{
    background-color: orange;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: absolute;
    top: 0rem;
    left: 4rem;
}
.spe-content{
    font-size: 1.2rem;
    font-weight: 300;
}
.content-top__right{
    /* border: 1px solid blue; */
    margin-right: 5rem;
}
.nav-list-block{
    display: flex;
}
.nav-list-element{
    list-style-type: none;
    margin-left: 2rem;
}
.nav-list-link{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 370;
}
.nav-list-element-spe{
    font-weight: 370;
    list-style-type: none;
    padding-left: 2rem;
}
.nav-list-link:hover{
    color: rgb(132, 74, 16);
    transition: 0.3s;
}
/*  */
.content-bottom{
    /* border: 1px solid hotpink; */
    display: flex;
    justify-content: space-between;
    margin-top: 15rem;
}

.content-bottom-just{
    margin: 0px 16rem;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.content-bottom-just-left{
    /* border: 1px solid blue; */
    width: 30%;
    
}
.content-bottom-just-right{
    /* border: 1px solid blue; */
    margin-top: 2rem;
    width: 70%;
    margin-left: 22rem;
}
/* phần button */
.input-fname{
    width: 17rem;
    height: 4rem;
    border: 1px solid black;
    border-radius: 0%;
    background-color: #eeeeee;
    font-size: 1.8rem;
}
.input-fname:focus{
    outline: none;
    background-color: #eeeeee;
    border: 2px solid black;
    box-shadow: none;
}
.input-lname{
    width: 17rem;
    height: 4rem;
    border: 1px solid black;
    border-radius: 0%;
    background-color: #eeeeee;
    font-size: 1.8rem;
}

.input-lname:focus{
    outline: none;
    background-color: #eeeeee;
    border: 2px solid black;
    box-shadow: none;
}
.input-email{
    width: 17rem;
    height: 4rem;
    border: 1px solid black;
    border-radius: 0%;
    background-color: #eeeeee;
    font-size: 1.8rem;
}
.input-email:focus{
    outline: none;
    background-color: #eeeeee;
    border: 2px solid black;
    box-shadow: none;
}
.input-subject{
    width: 17rem;
    height: 4rem;
    border: 1px solid black;
    border-radius: 0%;
    background-color: #eeeeee;
    font-size: 1.8rem;
}
.input-subject:focus{
    outline: none;
    background-color: #eeeeee;
    border: 2px solid black;
    box-shadow: none;
}
.input-area{
    width: 42rem;
    height: 10rem;
    max-height: 12rem;
    border: 1px solid black;
    border-radius: 0%;
    background-color: #eeeeee;
    font-size: 1.8rem;
}
.input-area:focus{
    outline: none;
    background-color: #eeeeee;
    border: 2px solid black;
    box-shadow: none;
}
/* button */
.btn-submit{
    border: 1px solid black;
    width: 42rem;
    height: 5rem;
    border-radius: 5rem;
    font-size: 2rem;
    font-weight: 700;
    background-color: orange;
}
.btn-submit:hover{
    border: 1.2px solid black;
}
/*  */
.content-end{
    margin-top: 17rem;
}
.content-end-just{
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    margin-bottom: 6rem;
}
.content-end-nicol{
    font-size: 1.1rem;
}