/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
}
body{
    font-size: 1.6rem;
}

/* js */
body { 
    opacity: 0;
    transition: opacity .7s;
 }

/*  */
.container{
    border: 1px solid black;
    max-width: 1320px;
    margin: 0px auto;
    background-color: #eeeeee;
}
.cv-carousel{
    /* border: 1px solid green; */
    margin: 0px 2rem;
}
.content-top{
    display: flex;
    /* border: 1px solid black; */
    justify-content: space-between;
    margin-top: 2.5rem;
    position: relative;
    /* border: 1px solid hotpink; */
}
.content-top__left{
    /* border: 1px solid blue; */
    display: flex;
    margin-left: 7rem;
}
.spe-character{
    background-color: orange;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: absolute;
    top: 0rem;
    left: 4rem;
}
.spe-content{
    font-size: 1.2rem;
    font-weight: 300;
}
.content-top__right{
    /* border: 1px solid blue; */
    margin-right: 5rem;
}
.nav-list-block{
    display: flex;
}
.nav-list-element{
    list-style-type: none;
    margin-left: 2rem;
}
.nav-list-link{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 370;
}
.nav-list-element-spe{
    font-weight: 370;
    list-style-type: none;
    padding-left: 2rem;
}
.nav-list-link:hover{
    color: rgb(132, 74, 16);
    transition: 0.3s;
}
/*  */
.content-bottom{
    /* border: 1px solid hotpink; */
    display: flex;
    justify-content: space-between;
    margin-top: 15rem;
}
.content-bottom-left{
    /* border: 1px solid purple; */
    width: 37rem;
    overflow: hidden;
    margin-left: 20rem;
    
}
.content-bottom-left img{
    display: block;
    width: 100%;
    border-radius: 50%;
}
.content-bottom-right{
    /* border: 1px solid purple; */
    width: 37rem;
    margin-right: 22rem;
    margin-top: 4rem;
}
.content-bottom-right-content{
    width: 26rem;
    margin-top: 2rem;
}
.three-button{
    /* border: 1px solid purple; */
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}
.button-1{
    /* border: 1px solid yellowgreen; */
    width: 11rem;
    height: 11rem;
    
}
.button-1-link-a,
.button-1-link-b,
.button-1-link-c{
    display: block;
    /* nay moi co the fix cho width height an theo th cha */
    list-style-type: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    border: 1px solid black;
    color: black;
    font-weight: 600;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    /* combo danh chu ra giua */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.button-1-link-a{
    background-color: orange;
}

.button-1-link-a:hover{
    background-color: #eeeeee;
    transition: 0.3s;
    box-shadow: 3px -1px 1px 1px #695e5e;
}
.button-1-link-b{
    background-color: rgb(226, 39, 39); 
}
.button-1-link-b:hover{
    background-color: #eeeeee;
    transition: 0.3s;
    box-shadow: 3px -1px 1px 1px #695e5e;
}
.button-1-link-c{
    background-color: rgb(95, 233, 233);
}
.button-1-link-c:hover{
    background-color: #eeeeee;
    transition: 0.3s;
    box-shadow: 3px -1px 1px 1px #695e5e;
}
/*  */
.content-end{
    margin-top: 17rem;
}
.content-end-just{
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    margin-bottom: 6rem;
}
.content-end-nicol{
    font-size: 1.1rem;
}